<header>
  <h1>Welcome to <span id="highlight">Covid-19</span> Statistic App</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/allCountries">All Countries</a></li>
      <li><a href="/myRecords">My Records</a></li>
    </ul>
  </nav>
</header>
